<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="css/element.css">
  <!--    <script src="dist/clipboard.min.js"></script>-->
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }

  .el-textarea__inner {
    resize: none;
    height: 45vh;
    border-color: #ffffff;
  }

  .el-textarea__inner:hover {
    border-color: #ffffff;
  }

  .el-textarea__inner:focus {
    border-color: #ffffff;
  }
</style>

<body>
  <div id="app" style="background-color:#ffffff;">
    <el-input type="textarea" autofocus placeholder="请输入内容" v-model="textarea1" style="height: 50%;">
    </el-input>
    <el-divider>
      <el-button round @click="onSubmit" size="mini" type="primary">转换并复制</el-button>
      <el-select v-model="sqlLanguage" placeholder="sql方言" @change="sqlLanguageChange" size="mini" style="width: 7rem">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </el-divider>
    <el-input type="textarea" v-model="result" readonly style="height: 50%;">
    </el-input>
  </div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/element.js"></script>
<script src="js/sql-formatter.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        textarea1: '',
        result: '',
        sqlLanguage: 'mysql',
        options: [
          {
            value: 'mysql',
            label: 'mysql'
          },
          {
            value: 'db2',
            label: 'db2'
          },
          {
            value: 'sql',
            label: 'sql'
          },
          {
            value: 'mariadb',
            label: 'mariadb'
          },
          {
            value: 'n1ql',
            label: 'n1ql'
          },
          {
            value: 'plsql',
            label: 'plsql'
          },
          {
            value: 'postgresql',
            label: 'postgresql'
          },
          {
            value: 'redshift',
            label: 'redshift'
          },
          {
            value: 'spark',
            label: 'spark'
          },
          {
            value: 'tsql',
            label: 'tsql'
          },
        ]
      }
    },
    mounted() {
      let _this = this
      utools.onPluginEnter(({
        code,
        type,
        payload,
        optional
      }) => {
        _this.textarea1 = ''
        _this.result = ''
        // 记得utools有从主窗口传值到插件的方法，没找到... 只能这样了
        setTimeout(() => {
          if (utools.isMacOs()) {
            utools.simulateKeyboardTap('v', 'command')
          } else {
            utools.simulateKeyboardTap('v', 'ctrl')
          }
          setTimeout(() => {
            this.onSubmit()
          }, 50);
        }, 50)
      })
    },
    methods: {
      sqlLanguageChange(value) {
        this.onSubmit()
      },
      copyResult() {
        utools.copyText(this.result)
      },
      onSubmit() {
        if (null == this.textarea1 || '' == this.textarea1) {
          this.result = '没有输入内容哟~'
          return
        }
        if (this.textarea1.indexOf('?') == -1) {
          this.result = sqlFormatter.format(this.textarea1, {
            language: this.sqlLanguage
          })
          utools.copyText(this.result)
          this.$message({
            center: true,
            message: '复制成功',
            type: 'success'
          });
          return
        }
        this.textarea1 = this.textarea1.replace(/(^\s*)|(\s*$)/g, "")
        let preparing;
        let parameters;
        if (this.textarea1.indexOf('\n') > -1) {
          let tempArray = this.textarea1.split('\n');
          if (this.textarea1.toLowerCase().indexOf('preparing') > -1) {
            preparing = tempArray[0].split(/preparing:/gim)[1]
            parameters = tempArray[1].split(/Parameters:/gim)[1]
          } else {
            preparing = tempArray[0].split(/Statement:/gim)[1]
            parameters = tempArray[1].split(/Parameters:/gim)[1]
          }
        } else {
          preparing = this.textarea1.split("==>")[1].split(':')[1]
          let paramSubscript = this.textarea1.split("==>")[2].indexOf(':')
          if (paramSubscript == -1) {
            this.result = '参数解析错误'
            return
          }
          parameters = this.textarea1.split("==>")[2].substring(paramSubscript + 1, this.textarea1.split("==>")[2].length)
        }
        if (!parameters) {
          this.result = this.textarea1
        } else {
          let preparingRegex = /Preparing:(.*)/;
          let parametersRegex = /Parameters:(.*)/;
          let log = this.textarea1.replace(/`/g, "\\`");
          let sql = log.match(preparingRegex)[1];
          let parameters = log.match(parametersRegex)[1].split(',').map(param => param.trim().split('(')[0]);

          let formattedSql = sql.replace(/\?/g, function () {
            let param = parameters.shift();
            // 如果参数是字符串，我们需要将其包裹在引号中
            if (!isNumeric(param)) {
              param = `'${param}'`;
            }
            return param;
          });

          function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n) ;
          }
          let rep = new RegExp('\\[(.| )+?\\]', 'g');
          this.result = sqlFormatter.format(formattedSql.replace(rep, '').replace(/\\`/g, '`'), {
            language: this.sqlLanguage
          })
        }
        utools.copyText(this.result)
        this.$message({
          center: true,
          message: '复制成功',
          type: 'success'
        });
      }
    }
  })
</script>

</html>