<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element.css">
<!--    <script src="dist/clipboard.min.js"></script>-->
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .el-textarea__inner {
        resize: none;
        height: 45vh;
        border-color: #ffffff;
    }

    .el-textarea__inner:hover {
        border-color: #ffffff;
    }

    .el-textarea__inner:focus {
        border-color: #ffffff;
    }
</style>

<body>
<div id="app" style="background-color:#ffffff;">
    <el-input type="textarea" autofocus placeholder="请输入内容" v-model="textarea1" style="height: 50%;">
    </el-input>
    <el-divider>
        <el-button round @click="onSubmit" size="mini" type="primary">转换并复制</el-button>
    </el-divider>
    <el-input type="textarea" v-model="result" readonly style="height: 50%;">
    </el-input>
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/element.js"></script>
<script src="js/sql-formatter.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        textarea1: '',
        result: ''
      }
    },
    mounted () {
      let _this = this
      utools.onPluginEnter(({
                              code,
                              type,
                              payload,
                              optional
                            }) => {
        _this.textarea1 = ''
        _this.result = ''
        // 记得utools有从主窗口传值到插件的方法，没找到... 只能这样了
        setTimeout(() => {
          if (utools.isMacOs()) {
            utools.simulateKeyboardTap('v', 'command')
          } else {
            utools.simulateKeyboardTap('v', 'ctrl')
          }
          setTimeout(() => {
            this.onSubmit()
          }, 50);
        }, 50)
      })
    },
    methods: {
      copyResult () {
        utools.copyText(this.result)
      },
      onSubmit () {
        if (null == this.textarea1 || '' == this.textarea1) {
          this.result = '没有输入内容哟~'
          return
        }
        if (this.textarea1.indexOf('?') == -1) {
          this.result = '别闹，没有占位符咋替换呢。默认 "?"，暂不支持其他。'
          return
        }
        this.textarea1 = this.textarea1.replace(/(^\s*)|(\s*$)/g, "")
        let preparing;
        let parameters;
        if (this.textarea1.indexOf('\n') > -1) {
          let tempArray = this.textarea1.split('\n');
          preparing = tempArray[0].split('Preparing:')[1]
          parameters = tempArray[1].split('Parameters:')[1]
        } else {
          preparing = this.textarea1.split("==>")[1].split(':')[1]
          let paramSubscript = this.textarea1.split("==>")[2].indexOf(':')
          if (paramSubscript == -1) {
            this.result = '参数解析错误'
            return
          }
          parameters = this.textarea1.split("==>")[2].substring(paramSubscript + 1, this.textarea1.split("==>")[2].length)
        }
        if (!parameters) {
          this.result = this.textarea1
        } else {
          let param = parameters.replace(new RegExp("\\(", 'gm'), '[').replace(new RegExp("\\)", 'gm'), ']');
          let array = param.replace(/\[(.| )+?\],/gim, '^').replace(/\[(.| )+?\]/gim, '^').split('^');
          let result = '';
          preparing = preparing.replaceAll('?', '^&^')
          for (let i of array) {
            let temp = i.toLowerCase();
            if (temp.indexOf('[long]') > -1 || temp.indexOf('[integer]') > -1
              || temp.indexOf('[shot]') > -1 || temp.indexOf('[float]') > -1
              || temp.indexOf('[double]') > -1 || temp.indexOf('[byte]') > -1) {
              temp = i.trim();
            } else {
              temp = "'" + i.trim() + "'";
            }
            if (result !== '') {
              result = result.replace('^&^', temp)
            } else {
              result = preparing.replace('^&^', temp)
            }
          }
          let rep = new RegExp('\\[(.| )+?\\]', 'g');
          let reg = new RegExp('\" ', "g")
          this.result = result.replace(rep, '').replace(reg, '')
          this.result = sqlFormatter.format(this.result)
        }
        utools.copyText(this.result)
        this.$message({
          center: true,
          message: '复制成功',
          type: 'success'
        });
      }
    }
  })
</script>

</html>